mss>=10,<11
Pillow>=11,<13
winrt-windows-foundation>=3,<4
winrt-windows-foundation-collections>=3,<4
winrt-windows-globalization>=3,<4
winrt-windows-graphics-imaging>=3,<4
winrt-windows-media-ocr>=3,<4
winrt-windows-storage-streams>=3,<4
